section.descritivo {
    padding: 50px;
    text-align: center;
    font-style: italic;
    font-size: 1.2rem;
}

section.descritivo a {
    color: #007cc3;
}

section.descritivo a:hover {
    color: #3bb3c2;
}

section.banner-area-de-atuacao {
    width: 100%;
    height: 500px;
}

section.banner-area-de-atuacao img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

section.section-area-de-atuacao {
    background-color: #007cc3;
    margin-bottom: 80px;
    padding: 20px;
    color: white;
}

section.section-area-de-atuacao > a.anchor {
    top: -200px;
}

section.section-area-de-atuacao .container {
    display: grid;
    grid-template-columns: 80px 2fr 3fr;
    min-height: 300px;
    position: relative;
}

section.section-area-de-atuacao .name-section {
    width: 100%;
    position: relative;
    position: relative;
    display: inline-block;
    text-align: center;
}

section.section-area-de-atuacao .name-section > h2 {
    color: white;
    font-size: 24px;
    line-height: 30px;
    width: 250px;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    transform:  translateX(-50%) translateY(-50%) rotate(-90deg);
}

section.section-area-de-atuacao .description-section {
    align-self: center;
    -ms-flex-item-align: center;
    padding: 20px;
}

section.section-area-de-atuacao .image-section {
    color: white;
}

section.section-area-de-atuacao .image-section img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
