section.descritivo {
    padding: 50px;
    text-align: center;
    font-style: italic;
    font-size: 1.2rem;
}

section.banner-area-de-atuacao {
    width: 100%;
    height: 750px;
}

section.banner-area-de-atuacao img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

section.section-area-de-atuacao {
    background-color: #007cc3;
    margin: 80px 0;
    padding: 20px;
    color: white;
}

section.section-area-de-atuacao > a.anchor {
    top: -200px;
}

section.section-area-de-atuacao .container {
    display: grid;
    grid-template-columns: 80px 2fr 3fr;
    min-height: 300px;
    position: relative;
}

section.section-area-de-atuacao .name-section {
    width: 100%;
    position: relative;
}

section.section-area-de-atuacao .name-section > h2 {
    color: white;
    font-size: 24px;
    line-height: 30px;
    width: 250px;
    position: absolute;
    bottom: 15px;
    left: 15px;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    padding: 0;
    margin: 0;
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
}

section.section-area-de-atuacao .description-section {
    align-self: center;
    -ms-flex-item-align: center;
    padding: 20px;
}

section.section-area-de-atuacao .image-section {
    color: white;
}

section.section-area-de-atuacao .image-section img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
