div.destaques-slideshow .text {
/*    color: #3bb3c2;*/
/*    color: #007cc3;*/
    color: white;
    -webkit-text-decoration-style: double;
    text-decoration-style: double;
    bottom: 30%;
    font-weight: 600;
    font-size: 32px;
}

div.destaques-slideshow .text.black-text{
    color: black;
}