input[type=text],
textarea {
    width: 100%;
    border: 1px solid #007cc3;
    border-radius: 15px;
    padding: 15px 20px;
    font-size: 16px;
    margin: 10px 0;
    outline: none;
}

input[type=text]:focus,
textarea:focus {
    border: 2px solid #3bb3c2;
    padding: 14px 19px;
}

input[type=submit] {
    width: 40%;
    margin: 15px auto;
    background-color: #007cc3;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

form .buttonSubmit {
    text-align: center;
}

input[type=submit]:hover {
    background-color: #3bb3c2;
}
