label {
    margin-bottom: 20px;
    display: block;
    font-size: 0.8rem;
}

input[type=text],
textarea {
    width: 100%;
    border: 1px solid #007cc3;
    border-radius: 15px;
    padding: 15px 20px;
    font-size: 16px;
    margin: 8px 0 0 0;
    outline: none;
}

input[type=text]:focus,
textarea:focus {
    border: 2px solid #3bb3c2;
    padding: 14px 19px;
}

button[type=submit] {
    width: 40%;
    margin: 15px auto;
    background-color: #007cc3;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    display: block;
    border: 2px solid rgba(0,0,0,0)
}

button[type=submit]:active, button[type=submit]:focus{
    outline: none;
    border: 2px solid #007cc3
}

form .buttonSubmit {
    text-align: center;
}

button[type=submit]:hover {
    background-color: #3bb3c2;
}
