section.galery .img-galery {
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 10vw;
}

section.galery .img-galery {
    opacity: 0.7;
}

section.galery .responsive {
  padding: 10px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  section.galery .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  section.galery .responsive {
    width: 100%;
  }
}

/* The Modal (background) */
section.galery .modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 10;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}

/* Modal Content (image) */
section.galery .modal-content {
    margin: auto;
    display: block;
    width: 70%;
    max-width: 700px;
}

/* Caption of Modal Image */
section.galery .modal #caption-galery-modal {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    font-size: 30px;
    color: #007cc3;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
section.galery .modal .modal-content,
section.galery .modal  #caption-galery-modal {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        -webkit-transform: scale(0);
        transform: scale(0)
    }

    to {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

/* The Close Button */
section.galery .modal .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #007cc3;
    font-size: 40px;
    font-weight: bold;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

section.galery .modal .close:hover,
section.galery .modal .close:focus {
    color: #3bb3c2;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    section.galery .modal .modal-content {
        width: 100%;
    }
}

footer {
    margin-top: 30px;
}