* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
/*
    padding: 124px 0 0 0;
*/
    margin: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-transition: 0.2s;
    -webkit-transition: 0.5s;
    transition: 0.2s;

}

h2 {
    color:#007cc3;
}

.container {
    width: 960px;
    margin: 0 auto 0 auto;
}

.container > #logo-navbar {
    -webkit-transition: 0.2s;
    -webkit-transition: 0.5s;
    transition: 0.2s;
}

.container > .small-logo {
    height: 50px;
}


header {
    background-color: #FFF;
    -webkit-box-shadow: 0px 3px 3px rgba(0,0,0,0.3);
    box-shadow: 0px 3px 3px rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

header > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding: 5px 0;
}

header ul {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
/*    top:-7px;*/
}

header ul li{
    list-style: none;
    display: block;
}

header ul li a{
    display: block;
    text-decoration: none;
    padding: 10px 20px;
    color: #007cc3;
}

header ul li a:hover{
    color: #012c57;
}

section.banner{
    height: 600px;
    position: relative;
}

section.banner::after {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/banner2.jpg);
    -webkit-filter: hue-rotate(160deg);
    filter: hue-rotate(160deg);
    background-size: cover;
    background-position: 0 center;
    z-index: -1;
}

section.banner > div {
   font-size: 72px;
   font-family: 'Oswald', sans-serif;
   position: relative;
   text-align: right;
   height: 100%;
   padding-right: 20px;
}

section.banner > div > div{
    width: 50%;
    position: absolute;
    right: 20px;
}

section.descritivo{
    padding: 50px;
    text-align: center;
    font-style: italic;
    font-size: 1.2rem;
}

a.anchor {
    display: block;
    position: relative;
    top: -55px;
    visibility: hidden;
}

section.areas-de-atuacao{
    background-color: #007cc3;
    padding: 40px 0;
}
section.areas-de-atuacao > a.anchor {
    top: -80px;
}

section.areas-de-atuacao > div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}

section.areas-de-atuacao > div article{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    background-color: rgba(255,255,255,0.1);
    color: #FFF;
    -webkit-transition: linear 0.1s background-color;
    transition: linear 0.1s background-color;
    cursor: pointer;
}

section.areas-de-atuacao > div article h2 {
    color: #FFF;
}

section.areas-de-atuacao > div article:hover{
    background-color: rgba(255,255,255,0.3);
}

section.areas-de-atuacao article img {
    width: 50px;
  -webkit-filter: invert(1);
  filter: invert(1);

}
section.areas-de-atuacao article img path {
    fill: #fff;
}

section.produtos{
    padding: 40px 0;
}
section.produtos > a.anchor {
    top: -80px;
}

section.produtos > div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}

section.produtos > div article{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    background-color: rgba(0,124,195,0.2);
    color: #FFF;
    -webkit-transition: linear 0.1s background-color;
    transition: linear 0.1s background-color;
    cursor: pointer;
}

section.produtos > div article h2 {
    color: #000;
}

section.produtos > div article:hover{
    background-color: rgba(0,124,195,0.3);
}

section.produtos article img {
    width: 50px;

}


section.institucional{
    text-align: center;
    background-image: url(../img/fence.jpg);
    border: 1px solid rgba(0,0,0,0);
    background-attachment: fixed;
    background-size: cover;
}

section.institucional > div {
    background-color: rgba(255,255,255,0.9);
    padding: 60px 0 0 0;
    margin: 100px 0;
    border: 1px solid rgba(0,0,0,0);
}

section.institucional > div > article{

    margin-bottom: 60px;
}


section.institucional h2{
    color: #2e7cc8;
    margin: 0;
    padding: 0;
}

section.institucional p {
    margin: 0;
    padding: 0;
}

.infografico{
    width: 100%;
    height: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #2e7cc8;
    background: -webkit-gradient(linear, left top, left bottom, from(#2e7cc8), to(#012c57));
    background: linear-gradient(180deg, #2e7cc8 0%, #012c57 100%);
    color: #FFF;
}

section.clientes > div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    -webkit-column-gap: 10px;
    column-gap: 10px;
    row-gap: 10px;
}

section.clientes > div > img {
    width: 100%;
    height: 180px;
    background-color: #007cc3;
}

section.contato > div {
    background-color: yellow;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

footer {
    text-align: center;
    padding: 30px;
    background-color: #2e7cc8;
    color: white;
}
