
section.banner{
    height: 600px;
    position: relative;
}

section.banner::after {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/banner2.jpg);
    -webkit-filter: hue-rotate(160deg);
    filter: hue-rotate(160deg);
    background-size: cover;
    background-position: 0 center;
    z-index: -1;
}

section.banner > div {
   font-size: 72px;
   font-family: 'Oswald', sans-serif;
   position: relative;
   text-align: right;
   height: 100%;
   padding-right: 20px;
}

section.banner > div > div{
    width: 50%;
    position: absolute;
    right: 20px;
}

section.descritivo{
    padding: 50px;
    text-align: center;
    font-style: italic;
    font-size: 1.2rem;
}

a.anchor {
    display: block;
    position: relative;
    top: -55px;
    visibility: hidden;
}

section.areas-de-atuacao{
    background-color: #007cc3;
    padding: 40px 0;
}

section.areas-de-atuacao > a.anchor {
    top: -150px;
}

section.areas-de-atuacao > div > h2 {
    color: white;
}

section.areas-de-atuacao > div > div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}

section.areas-de-atuacao > div article{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0px;
    text-align: center;
    background-color: rgba(255,255,255,0.1);
    color: #FFF;
    -webkit-transition: linear 0.1s background-color;
    transition: linear 0.1s background-color;
    cursor: pointer;
}

section.areas-de-atuacao > div article a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding: 20px;
}

section.areas-de-atuacao > div article h2, section.areas-de-atuacao > div article p {
    color: #FFF;
}

section.areas-de-atuacao > div article:hover{
    background-color: rgba(255,255,255,0.3);
}

section.areas-de-atuacao article img {
    width: 50px;
  -webkit-filter: invert(1);
  filter: invert(1);

}

section.areas-de-atuacao article img path {
    fill: #fff;
}

section.produtos{
    padding: 40px 0;
}

section.produtos > a.anchor {
    top: -80px;
}

section.produtos > div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}

section.produtos > div article{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0px;
    text-align: center;
    background-color: rgba(0,124,195,0.2);
    color: #FFF;
    -webkit-transition: linear 0.1s background-color;
    transition: linear 0.1s background-color;
    cursor: pointer;
}

section.produtos > div article a {
    text-decoration: none;
    padding: 20px;
    width: 100%;
    height: 100%;
}

section.produtos > div article h2 {
    color: #000;
}

section.produtos > div article:hover{
    background-color: rgba(0,124,195,0.3);
}

section.produtos article img {
    width: 50px;

}

section.institucional > a.anchor {
    top: 60px;
}

section.institucional{
    text-align: center;
    background-image: url(../img/fence.jpg);
    border: 1px solid rgba(0,0,0,0);
    background-attachment: fixed;
    background-size: cover;
}

section.institucional > div {
    background-color: rgba(255,255,255,0.9);
    padding: 60px 0 0 0;
    margin: 100px 0;
    border: 1px solid rgba(0,0,0,0);
}

section.institucional > div > article{

    margin-bottom: 60px;
}

section.institucional h2{
    color: #2e7cc8;
    margin: 0;
    padding: 0;
}

section.institucional p {
    margin: 0;
    padding: 0;
}

section.historia {
    height: 700px;
}
.infografico{
    width: 100%;
    height: 800px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #2e7cc8;
    background: -webkit-gradient(linear, left top, left bottom, from(#2e7cc8), to(#012c57));
    background: linear-gradient(180deg, #2e7cc8 0%, #012c57 100%);
    color: #FFF;
}

section.clientes > div {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    -webkit-column-gap: 40px;
    column-gap: 40px;
    row-gap: 40px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

section.clientes > div > img {
    width: 100%;
    background-color: white;
}

section.contato {
    padding: 40px 0;
}

input, textarea {
    width: 100%;
}

textarea {
    height: 150px;
}

section.contato > div {
    background-color: yellow;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

button[type=submit] {
    width: 40%;
    margin: 15px auto;
    display: block;
}

footer {
    padding: 8px;
}

footer > div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 40px;
    column-gap: 40px;
    row-gap: 40px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

footer > div .contact {
    text-align: left;
    line-height: 30px
}

footer > div .rights {
    text-align: right;
}