
section.banner{
    height: 600px;
    position: relative;
    color: black;
}

section.banner::after {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/banner2.jpg);
    -webkit-filter: hue-rotate(160deg);
    filter: hue-rotate(160deg);
    background-size: cover;
    background-position: 0 center;
    z-index: -1;
}

section.banner > div {
   font-size: 72px;
   font-family: 'Oswald', sans-serif;
   position: relative;
   height: 80%;
   padding-right: 20px;
   vertical-align: middle;
}

/*
section.banner > div > div{
    width: 70%;
    margin-top: 80px;
    vertical-align: middle;
    position: absolute;
    right: 20px;
}
*/

/*
section.banner > div > div > p{
    margin: 0;
}
*/

.rw-wrapper{
    
    width: 70%;
    margin-top: 80px;
    vertical-align: middle;
    position: absolute;
    right: 20px;
    
    
    
/*	position: relative;*/
/*	margin: 110px auto 0 auto;*/
/*	font-family: 'Bree Serif';*/
/*	padding: 10px;*/
}
.rw-sentence{
/*	margin: 0;*/
/*	text-align: left;*/
/*	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);*/
}
.rw-sentence span{
    
	width: 100%;
	color: white;
/*	white-space: nowrap;*/
    text-align: right;
/*	font-size: 200%;*/
/*	font-weight: normal;*/
}
.rw-words{
	display: inline;
	text-indent: 10px;
}
.rw-words span{
	position: absolute;
	opacity: 0;
	overflow: hidden;
	width: 100%;
	color: black;
}

@-webkit-keyframes rotateWordsFirst {
    0% { opacity: 1; -webkit-animation-timing-function: ease-in; animation-timing-function: ease-in; height: 0px; }
    8% { opacity: 1; height: 100px; }
    19% { opacity: 1; height: 100px; }
	25% { opacity: 0; height: 100px; }
    100% { opacity: 0; }
}

@-webkit-keyframes rotateWordsSecond {
    0% { opacity: 0; -webkit-animation-timing-function: ease-in; animation-timing-function: ease-in; height: 100px;  }
    6% { opacity: 1; height: 100px; }
    21% { opacity: 1; height: 100px; }
	25% { opacity: 0; height: 100px; }
    100% { opacity: 0; height: 100px;}
}

.rw-words-1 span{
	-webkit-animation: rotateWordsFirst 18s linear infinite 0s;
	animation: rotateWordsFirst 18s linear infinite 0s;
}
.rw-words-2 span{
	-webkit-animation: rotateWordsSecond 18s linear infinite 0s;
	animation: rotateWordsSecond 18s linear infinite 0s;
}
.rw-words-1 span.word-1 { 
	color: #3bb3c2;
}
.rw-words-1 span.word-2 { 
	-webkit-animation-delay: 3s; 
	animation-delay: 3s; 
	color: #63c2ce;
}
.rw-words-1 span.word-3 { 
	-webkit-animation-delay: 6s; 
	animation-delay: 6s; 
	color: #89d1da;	
}
.rw-words-1 span.word-4 { 
	-webkit-animation-delay: 9s; 
	animation-delay: 9s; 
	color: #b1e1e7;
}
.rw-words-1 span.word-5 { 
	-webkit-animation-delay: 12s; 
	animation-delay: 12s; 
	color: #d8f0f3;
}
.rw-words-1 span.word-6 {  
	-webkit-animation-delay: 15s;  
	animation-delay: 15s; 
	color: white;
}

.rw-words-2 span.word-2 { 
	-webkit-animation-delay: 3s; 
	animation-delay: 3s; 
/*	color: #6b889d;*/
}
.rw-words-2 span.word-3 { 
	-webkit-animation-delay: 6s; 
	animation-delay: 6s; 
/*	color: #6b739d;	*/
}
.rw-words-2 span.word-4 { 
	-webkit-animation-delay: 9s; 
	animation-delay: 9s; 
/*	color: #7a6b9d;*/
}
.rw-words-2 span.word-5 { 
	-webkit-animation-delay: 12s; 
	animation-delay: 12s; 
/*	color: #8d6b9d;*/
}
.rw-words-2 span.word-6 {  
	-webkit-animation-delay: 15s;  
	animation-delay: 15s; 
/*	color: #9b6b9d;*/
}


section.descritivo{
    padding: 50px;
    text-align: center;
    font-style: italic;
    font-size: 1.2rem;
}

section.areas-de-atuacao{
    background-color: #007cc3;
    padding: 40px 0;
}

section.areas-de-atuacao > a.anchor {
    top: -150px;
}

section.areas-de-atuacao > div > h2 {
    color: white;
}

section.areas-de-atuacao > div > div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}

section.areas-de-atuacao > div article{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0px;
    text-align: center;
    background-color: rgba(255,255,255,0.1);
    color: #FFF;
    -webkit-transition: linear 0.1s background-color;
    transition: linear 0.1s background-color;
    cursor: pointer;
}

section.areas-de-atuacao > div article a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding: 20px;
}

section.areas-de-atuacao > div article h2, section.areas-de-atuacao > div article p {
    color: #FFF;
}

section.areas-de-atuacao > div article:hover{
    background-color: rgba(255,255,255,0.3);
}

section.areas-de-atuacao article img {
    width: 50px;
  -webkit-filter: invert(1);
  filter: invert(1);

}

section.areas-de-atuacao article img path {
    fill: #fff;
}

section.produtos{
    padding: 40px 0;
}

section.produtos > a.anchor {
    top: -80px;
}

section.produtos > div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}

section.produtos > div article{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0px;
    text-align: center;
    background-color: rgba(0,124,195,0.2);
    color: #FFF;
    -webkit-transition: linear 0.1s background-color;
    transition: linear 0.1s background-color;
    cursor: pointer;
}

section.produtos > div article a {
    text-decoration: none;
    padding: 20px;
    width: 100%;
    height: 100%;
}

section.produtos > div article h2 {
    color: #000;
}

section.produtos > div article:hover{
    background-color: rgba(0,124,195,0.3);
}

section.produtos article img {
    width: 50px;

}

section.institucional > a.anchor {
    top: 60px;
}

section.institucional{
    text-align: center;
    background-color: #007cc3;
    color: white;
        padding: 60px 0;
/*    background-image: url(../img/fence.jpg);*/
/*    border: 1px solid rgba(0,0,0,0);*/
/*    background-attachment: fixed;*/
/*    background-size: cover;*/
}

section.institucional > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
/*    background-color: rgba(255,255,255,0.9);*/

/*
    margin: 100px 0;
    border: 1px solid rgba(0,0,0,0);
*/
}
section.institucional > div > div {
    margin: auto;
    width: 29%;
    height: 100%;
    background-image: url(../img/o.png);
    background-size: 100% 100%;
}

section.institucional > div > div.instit-valores {
    width: 40%;
}

section.institucional > div > div > article{
    padding: 20px 35px 55px 40px;
/*    width: 100%;*/
    margin-bottom: 30px;
}

section.institucional > div > div > article{
    padding: 20px 35px 55px 40px;
/*    width: 100%;*/
    margin-bottom: 30px;
}

section.institucional ol {
    text-align: left;
    padding-left: 30px;
    margin: 0;
}

section.institucional h2{
    color: white;
    margin: 0;
    padding: 0;
}

section.institucional p {
    margin: 0;
    padding: 0;
}

section.historia {
    height: 700px;
}
.infografico{
    width: 100%;
    height: 800px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #2e7cc8;
    background: -webkit-gradient(linear, left top, left bottom, from(#2e7cc8), to(#012c57));
    background: linear-gradient(180deg, #2e7cc8 0%, #012c57 100%);
    color: #FFF;
}

section.clientes > div {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    -webkit-column-gap: 40px;
    column-gap: 40px;
    row-gap: 40px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

section.clientes > div > img {
    width: 100%;
    background-color: white;
}

section.contato label {
    color:  #007cc3;
}

section.contato {
    padding: 40px 0;
}

input, textarea {
    width: 100%;
}

textarea {
    height: 150px;
}

section.contato > div {
    background-color: yellow;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

button[type=submit] {
    width: 40%;
    margin: 15px auto;
    display: block;
}
