* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    padding: 129px 0 0 0;
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-transition: 0.2s;
    -webkit-transition: 0.5s;
    transition: 0.2s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color: #666;
}

h2 {
    color: #007cc3;
}

a.anchor {
    display: block;
    position: relative;
    top: -80px;
    visibility: hidden;
}

.container {
    width: 960px;
    margin: 0 auto 0 auto;
}

#logo-navbar {
    height: 115px;
    -webkit-transition: height 0.4s ease-in-out;
    transition: height 0.4s ease-in-out;
    margin: 5px 0;
}

header {
    background-color: #FFF;
    -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

header > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

header ul {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    /*    top:-7px;*/
}

header ul li {
    list-style: none;
    display: block;
}

header ul li a,
header ul div a {
    display: block;
    text-decoration: none;
    padding: 10px 20px 25px 20px;
    color: #007cc3;
}

header a:hover,
header .dropdown:hover .dropbtn,
header .dropdown-content a:hover {
    color: #3bb3c2;
}

header .dropdown {
    float: left;
    overflow: hidden;
}

/* Dropdown content (hidden by default) */
header .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    background-color: #FFF;
    -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
    z-index: 1;
    border-radius: 0px 0px 8px 8px;
}

/* Links inside the dropdown */
header .dropdown-content a {
    float: none;
    color: #007cc3;
    padding: 6px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Show the dropdown menu on hover */
/*
header .dropdown:hover .dropdown-content {
    display: block;
}
*/

header .navbar-area-de-atuacao {
    background-color: #007cc3;
    color: white;
}

header .navbar-area-de-atuacao .container {
    /*    padding-left: 300px;*/
}

header .navbar-area-de-atuacao nav {
    padding-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

header .navbar-area-de-atuacao ul li a,
header .navbar-area-de-atuacao ul div a {
    color: white;
}

header .navbar-area-de-atuacao a:hover,
header .navbar-area-de-atuacao .dropdown:hover .dropbtn,
header .navbar-area-de-atuacao .dropdown-content a:hover {
    color: #3bb3c2;
}

/* Dropdown content (hidden by default) */
header .navbar-area-de-atuacao .dropdown-content {
    min-width: 250px;
/*    left: -15px;*/
}

header .navbar-area-de-atuacao ul li a, header .navbar-area-de-atuacao ul a.navbar-item {
    padding: 15px 20px;
}

header .navbar-area-de-atuacao .fas {
    color: transparent;
}

header .navbar-area-de-atuacao ul > div {
    border-radius: 8px 8px 0px 0px;
    position: relative;
    overflow: visible;
}

header .navbar-area-de-atuacao .active {
    background-color: white;
}

/* curvinhas inferiores para abas no navbar
header .navbar-area-de-atuacao .active:before,
header .navbar-area-de-atuacao .active:after {
    content: "";
    position: absolute;

    height: 10px;
    width: 20px;

    bottom: 0;
    background-color: transparent;
}

header .navbar-area-de-atuacao .active:after {
    right: -20px;

    border-radius: 0 0 0 10px;
    -moz-border-radius: 0 0 0 10px;
    -webkit-border-radius: 0 0 0 10px;

    -webkit-box-shadow: -10px 0 0 0 #fff;
    box-shadow: -10px 0 0 0 #fff;
}

header .navbar-area-de-atuacao .active:before {
    left: -20px;

    border-radius: 0 0 10px 0;
    -moz-border-radius: 0 0 10px 0;
    -webkit-border-radius: 0 0 10px 0;

    -webkit-box-shadow: 10px 0 0 0 #fff;
    box-shadow: 10px 0 0 0 #fff;
}
*/

header .navbar-area-de-atuacao .active a,
header .navbar-area-de-atuacao .active .fas {
    color: #007cc3;
}

footer {
    text-align: center;
    padding: 8px;
    background-color: #007cc3;
    color: white;
    margin-top: auto;
}

footer > div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 40px;
    column-gap: 40px;
    row-gap: 40px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

footer > div .contact {
    text-align: left;
    line-height: 30px
}

footer > div .rights {
    text-align: right;
}
